---
import Layout from "../layouts/Layout.astro";
import ContactForm from "../components/ContactForm.jsx";
---

<Layout title="Contact Us">
  <div>
    <h1>Contact Us</h1>
    <ContactForm client:load />
  </div>
</Layout>
