---
import Layout from "../layouts/Layout.astro";
import Events from "../components/Events.jsx";
---

<Layout title="Denver BitDevs">
  <div>
    <h1>Welcome to Denver BitDevs</h1>
    <p>
      Your welcome message here. Lorem ipsum dolor sit amet, consectetur
      adipiscing elit.
    </p>
    <Events client:load />

    <div class="calendar-container">
      <h2>Events Calendar</h2>
      <iframe
        src="https://nextcloud.denver.space/apps/calendar/embed/JLEGYXpnt4PyTfSN"
        width="800"
        height="600"
        frameBorder="0"></iframe>
    </div>
  </div>
</Layout>
